body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #667eea, #764ba2);
    font-family: Arial, sans-serif;
}

.calculator {
    background: #222;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 15px 30px rgba(247, 247, 245, 0.808);
}

#display {
    width: 100%;
    height: 60px;
    font-size: 1.8rem;
    text-align: right;

    padding: 10px 15px;
    box-sizing: border-box;

    border: none;
    margin-bottom: 15px;
    border-radius: 8px;

    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 55px;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #444;
    color: white;
    transition: transform 0.2s, background 0.2s;
}

button:hover {
    background: #666;
    transform: scale(1.05);
}

.zero {
    grid-column: span 2;
}

button:last-child,
button:nth-child(16) {
    background: #ff9500;
}

button:last-child:hover,
button:nth-child(16):hover {
    background: #e08900;
}
